<h1>Our Libraries</h1>

<% @libraries.each do |library| %>
  <div>
    <%= library.name %>
    <% if current_member %>
      <%= button_to "Join", library_members_path(library) %>
    <% end %>
  </div>
  <br>
<% end %>
